<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>파리바게뜨 망우겸재 커뮤니티</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" th:href="@{/assets/css/main.css}" />
    <noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
</head>

<style>
    .notice-content img {
        max-width: 100%;  /* 부모 요소를 넘지 않도록 조절 */
        height: auto;      /* 가로 비율 유지 */
        display: block;    /* 블록 요소로 정렬 */
        margin: 0 auto;    /* 가운데 정렬 */
    }

    .notice-content {
        line-height: 0.1;  /* 줄 간격 조절 */
    }

</style>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper" class="fade-in">

    <!-- Intro -->
    <div id="intro">
        <h1>파리바게뜨 망우겸재</h1>
        <p>망우겸재와 함께하는 행복한 하루 되세요~
            <a href="https://map.naver.com/p/entry/place/19501449?lng=127.0976717&lat=37.5906108&placePath=%2Fhome&entry=plt&searchType=place&c=15.00,0,0,0,dh"><br>망우겸재점에 대해...</a>
        </p>
        <ul class="actions">
            <li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
        </ul>
    </div>

    <!-- Header -->
    <header id="header">
        <a th:href="@{/main}" class="logo">Paris Baguette</a>
    </header>

    <!-- Nav -->
    <nav id="nav">
        <ul class="links">
            <li class="active"><a th:href="@{/notice/list}">오늘의 공지</a></li>
            <li><a th:href="@{/event/list}">매장 이벤트</a></li>
            <li><a th:href="@{/reservation/user}">휴일 예약</a></li>
            <li><a th:href="@{/guide/guideHome}">신입 가이드</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">

        <h2>근무자 필독!</h2>
        <p>
            <strong>공지번호:</strong> <span th:text="${notice.noticeNo}"></span><br>
            <strong>작성일:</strong> <span th:text="${notice.createdAt}"></span><br>
            <strong>작성자:</strong> <span th:text="${notice.userDto.name}"></span><br>
            <strong>조회수:</strong> <span th:text="${notice.hit}"></span><br>
        </p>
        <div><strong>제목:</strong> <div th:text="${notice.title}"></div></div>
        <div><strong>내용:</strong> <div th:utext="${notice.contents}" class="notice-content"></div></div>

        <div>
            <th:block th:if="${session.user.userNo == 1 or session.user.userNo == notice.userDto.userNo}">
                <form id="frm_btn" method="post">
                    <input type="hidden" name="noticeNo" th:value="${notice.noticeNo}">
                    <input type="hidden" name="title"    th:value="${notice.title}">
                    <input type="hidden" name="contents" th:value="${notice.contents}">
                </form>

                <button type="button" id="btn_edit">편집</button>
                <button type="button" id="btn_rmv">삭제</button>
            </th:block>
            <button type="button" id="btn_list">목록</button>
        </div>

    </div>

    <!-- Copyright -->
    <div id="copyright">
        <ul>
            <li>&copy; PYJ</li>
            <li><a th:href="@{/main}">Park family</a></li>
        </ul>
    </div>

</div>

<!-- Scripts -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

<script th:inline="javascript">
    $(document).ready(function() {  // DOM이 로드된 후 실행
        var frmBtn = $('#frm_btn');

        // 편집 버튼 클릭
        $('#btn_edit').click(function() {
            frmBtn.attr('action', '/notice/edit.form');
            frmBtn.submit();
        });

        // 삭제 버튼 클릭
        $('#btn_rmv').click(function() {
            if (confirm('삭제할까요?')) {
                alert('삭제되었습니다.');
                frmBtn.attr('action', '/notice/remove.do');
                frmBtn.submit();
            }
        });

        // 목록 버튼 클릭
        $('#btn_list').click(function() {
            window.location.href = '/notice/list';
        });
    });

    const fnModifyResult = () => {
        let modifyResult = /*[[${modifyResult}]]*/ null;  //modifyResult가 전달되지 않으면 null을 사용
        if(modifyResult !== null){
            if(modifyResult === 1){
                alert('공지가 수정되었습니다.');
            } else {
                alert('공지가 수정되지 않았습니다.');
            }
        }
    }

    fnModifyResult();

</script>

</body>
</html>
