<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 목록</title>
</head>
<body>
<h1>공지사항 목록</h1>
<table border="1">
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>조회수</th>
        <th>작성일</th>
    </tr>
    <tr th:each="notice : ${noticeList}">
        <td th:text="${notice.noticeNo}"></td>
        <td><a th:href="@{/notice/detail.do(noticeNo=${notice.noticeNo})}" th:text="${notice.title}"></a></td>
        <td th:text="${notice.hit}"></td>
        <td th:text="${notice.createdAt}"></td>
    </tr>
</table>
<div th:utext="${paging}"></div>
<a href="/notice/write.form">글쓰기</a>
</body>
</html>
