<!DOCTYPE HTML>
<html>
<head>
	<title>파리바게뜨 망우겸재 커뮤니티</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper" class="fade-in">

	<!-- Intro -->
	<div id="intro">
		<h1>파리바게뜨 망우겸재</h1>
		<p>망우겸재와 함께하는 행복한 하루 되세요~
			<a href="https://map.naver.com/p/entry/place/19501449?lng=127.0976717&lat=37.5906108&placePath=%2Fhome&entry=plt&searchType=place&c=15.00,0,0,0,dh"><br>망우겸재점에 대해...</a>
		</p>
		<ul class="actions">
			<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
		</ul>
	</div>

	<!-- Header -->
	<header id="header">
		<a th:href="@{/main}" class="logo">Paris Baguette</a>
	</header>

	<!-- Nav -->
	<nav id="nav">
		<ul class="links">
			<li class="active"><a th:href="@{/notice/list}">오늘의 공지</a></li>
			<li><a th:href="@{/event/list}">매장 이벤트</a></li>
			<li><a th:href="@{/reservation/user}">휴일 예약</a></li>
			<li><a th:href="@{/guide/guideHome}">신입 가이드</a></li>
		</ul>
		<span th:if="${session.user != null}">
			<span th:text="${session.user.name} + '님'"></span>
			<a th:href="@{/user/logout}">로그아웃</a>
		</span>
	</nav>

	<!-- Main -->
	<div id="main">

		<!-- Featured Post -->
		<article class="post featured">
			<header class="major">
				<span class="date">April 25, 2017</span>
				<h2><a href="#">And this is a<br />
					massive headline</a></h2>
				<p>Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br />
					facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br />
					amet nullam sed etiam veroeros.</p>
			</header>
			<a href="#" class="image main"><img src="/images/pic01.jpg" alt="" /></a>
			<ul class="actions special">
				<li><a href="#" class="button large">Full Story</a></li>
			</ul>
		</article>

		<!-- Posts -- 얘네는 나중에 리스트로 돌리면 될듯 -->
		<section class="posts">
			<article>
				<header>
					<span class="date">April 24, 2017</span>
					<h2><a href="#">Sed magna<br />
						ipsum faucibus</a></h2>
				</header>
				<a href="#" class="image fit"><img src="/images/pic02.jpg" alt="" /></a>
				<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
				<ul class="actions special">
					<li><a href="#" class="button">Full Story</a></li>
				</ul>
			</article>
			<article>
				<header>
					<span class="date">April 22, 2017</span>
					<h2><a href="#">Primis eget<br />
						imperdiet lorem</a></h2>
				</header>
				<a href="#" class="image fit"><img src="/images/pic03.jpg" alt="" /></a>
				<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
				<ul class="actions special">
					<li><a href="#" class="button">Full Story</a></li>
				</ul>
			</article>
			<article>
				<header>
					<span class="date">April 18, 2017</span>
					<h2><a href="#">Ante mattis<br />
						interdum dolor</a></h2>
				</header>
				<a href="#" class="image fit"><img src="/images/pic04.jpg" alt="" /></a>
				<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
				<ul class="actions special">
					<li><a href="#" class="button">Full Story</a></li>
				</ul>
			</article>
			<article>
				<header>
					<span class="date">April 14, 2017</span>
					<h2><a href="#">Tempus sed<br />
						nulla imperdiet</a></h2>
				</header>
				<a href="#" class="image fit"><img src="/images/pic05.jpg" alt="" /></a>
				<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
				<ul class="actions special">
					<li><a href="#" class="button">Full Story</a></li>
				</ul>
			</article>
			<article>
				<header>
					<span class="date">April 11, 2017</span>
					<h2><a href="#">Odio magna<br />
						sed consectetur</a></h2>
				</header>
				<a href="#" class="image fit"><img src="/images/pic06.jpg" alt="" /></a>
				<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
				<ul class="actions special">
					<li><a href="#" class="button">Full Story</a></li>
				</ul>
			</article>
			<article>
				<header>
					<span class="date">April 7, 2017</span>
					<h2><a href="#">Augue lorem<br />
						primis vestibulum</a></h2>
				</header>
				<a href="#" class="image fit"><img src="/images/pic07.jpg" alt="" /></a>
				<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
				<ul class="actions special">
					<li><a href="#" class="button">Full Story</a></li>
				</ul>
			</article>
		</section>

		<!-- Footer -->
		<footer>
			<div class="pagination">
				<!--<a href="#" class="previous">Prev</a>-->
				<a href="#" class="page active">1</a>
				<a href="#" class="page">2</a>
				<a href="#" class="page">3</a>
				<span class="extra">&hellip;</span>
				<a href="#" class="page">8</a>
				<a href="#" class="page">9</a>
				<a href="#" class="page">10</a>
				<a href="#" class="next">Next</a>
			</div>
		</footer>

	</div>

	<!-- Footer -->
	<footer id="footer">
		<section>
			<!-- 문의사항 게시판 만들지 말고, 여기 작성해서 보내면 문의사항 답변 오는 걸로 하기 -->
			<h4>문의 사항</h4>
			<form method="post" action="#">
				<div class="fields">
					<div class="field">
						<label for="name">제목</label>
						<input type="text" name="name" id="name" />
						<br>
						<select name="demo-category" id="demo-category">
							<option value="">- 문의 종류 -</option>
							<option value="1">근무 관련</option>
							<option value="1">휴일 관련</option>
							<option value="1">기타</option>
						</select>
					</div>
					<div class="field">
						<label for="message">내용</label>
						<textarea name="message" id="message" rows="3"></textarea>
					</div>
				</div>
				<ul class="actions">
					<li><input type="submit" value="문의하기" /></li>
				</ul>
			</form>
		</section>
		<section class="split contact">
			<section class="alt">
				<h3>Address</h3>
				<p>서울 파리바게뜨<br />
					우리집, 1층 101호</p>
			</section>
			<section>
				<h3>Phone</h3>
				<p><a href="#">010) 333-3333</a></p>
			</section>
			<section>
				<h3>Email</h3>
				<p><a href="#">smc4718@naver.com</a></p>
			</section>
		</section>
	</footer>

	<!-- Copyright -->
	<div id="copyright">
		<ul>
			<li>&copy; PYJ</li>
			<li><a th:href="@{/main}">Park family</a></li>
		</ul>
	</div>

</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>