<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 목록</title>
    <link rel="stylesheet" th:href="@{/assets/css/calendar.css}" />
</head>
<body>

<main>
    <!-- 대기 중인 예약 -->
    <h2>대기 중인 예약</h2>
    <table>
        <thead>
        <tr>
            <th>예약 번호</th>
            <th>이름</th>
            <th>희망 날짜</th>
            <th>사유</th>
            <th>상태</th>
            <th>작업</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="reservation : ${pendingReservations}">
            <tr>
                <td th:text="${reservation.reservationNo}"></td>
                <td th:text="${reservation.userDto.name}"></td>
                <td th:text="${#dates.format(reservation.reservationDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${reservation.contents}"></td>
                <td class="status-column" th:text="${reservation.statusLabel}"></td>
                <td>
                    <button class="approve-btn" th:data-reservation-no="${reservation.reservationNo}"
                            th:data-phone-number="${reservation.userDto.hp}">승인</button>
                    <button class="reject-btn" th:data-reservation-no="${reservation.reservationNo}"
                            th:data-phone-number="${reservation.userDto.hp}">거절</button>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <!-- 처리된 내역 -->
    <h2>모든 내역</h2>
    <div id="allReservationsContainer">
        <table>
            <thead>
            <tr>
                <th>예약 번호</th>
                <th>사용자 이름</th>
                <th>예약 날짜</th>
                <th>상태</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="reservation : ${allReservations}">
                <tr>
                    <td th:text="${reservation.reservationNo}"></td>
                    <td th:text="${reservation.userDto.name}"></td>
                    <td th:text="${#dates.format(reservation.reservationDate, 'yyyy-MM-dd')}"></td>
                    <td class="status-column" th:text="${reservation.statusLabel}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</main>

<script>
</script>

<script defer th:src="@{/assets/js/calendar.js}"></script>
</body>
</html>
